@import "reset-css";

* {
  box-sizing: border-box;
}
// scrollbar
*::-webkit-scrollbar {
  width: 0.7rem;
}
*::-webkit-scrollbar-track {
  background: #eee;
}
*::-webkit-scrollbar-thumb {
  background: #999;
}
*::-webkit-scrollbar-thumb:hover {
  background: #888;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #666;
}
:root {
  font-size: 1rem;
}

.app {
  width: 100%;
  max-width: 1360px;
  min-height: 100vh;
  background-color: #e8edf1;
  color: #081d2e;
  font-family: "Roboto", sans-serif;
}
