.header {
    text-align: center;
    font-family: 'Motserrat', sans-serif;
        margin-bottom: 2em;
}

img {
    max-width: 200px;
}

.header__title {
    font-weight: 600;
    text-transform: uppercase;
}

.header__subtitle {
    font-size: 0.85rem;
    font-weight: 500;
}